<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.bstek.ide.launching.doradoLaunchDelegate">
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bstek.dorado.idesupport.StandaloneRuleSetExporter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:\program file\eclipse-workspace\bootstrapDemo\stdlesson\.rules&quot; &quot;file:D:/program file/eclipse-workspace/bootstrapDemo/stdlesson/WebContent/WEB-INF/dorado-home&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="stdlesson"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/program file/eclipse-workspace/bootstrapDemo/stdlesson"/>
</launchConfiguration>
